<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/news.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <header>
        <div id="header">
            <div id="logo">
                <img src="img/logo1.png" alt="">
                <!-- <h1>RCC</h1> -->
            </div>
            <nav>
                <ul>
                    <li><a href="/index">Home</a></li>
                    <div class="dropdown">
                        <li class="droplist"><a>Categories</a></li>
                        <div class="dropdown-content">
                            <a href="/news">Politics News</a>
                            <a href="/sport">Sport News</a>
                            <a href="/health">Health News</a>
                            <a href="/tech">Technology News</a>

                        </div>
                    </div>
                    <li><a href="/favorite">Read Later</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
            <form class="formSearch" action="/tosearch" method="post">
                <input class="searchHome" type="text" placeholder="Search For Country News" required>
                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
    </header>
    <main>
        <div id="heroContainer">
            <div id="titleContainer">
                <h1 id="title">Dashboard</h1>
            </div>
        </div>
        <article>
            <section class="userInfo">
                <div class="basicInfo">
                    <img src="<%= signin[1] %>" alt="" class="user2">
                    <h4><%= signin[0] %></h4>
                </div>

                <form action="/signout" class="logoutBar" method="post">
                    <input type="submit" id="signIn" class="logoutButton" value="Sign Out">
                </form>
                <div class="saidBarNav">
                    <nav id="footerNav" class="userNav">
                        <ul>
                            <li><a href="/index">Home</a></li>
                            <li><a href="/news">Politics News</a></li>
                            <li><a href="/sport">Sport News</a></li>
                            <li><a href="/health">Health News</a></li>
                            <li><a href="/tech">Technology News</a></li>
                            <li><a href="/favourite">Read Later</a></li>
                            <li><a href="/dashboard">Dashboard</a></li>
                            <li><a href="">About</a></li>
                        </ul>
                    </nav>
                </div>
            </section>
            <section id="allNews">
                <% results.forEach ((item,ind) => { %>
                <div class="container">
                    <div class="whoShared">
                        <img class="shareUser" src="<%=item.userimg %>" alt="">
                        <h4><%= item.user_name %> shared this article</h4>
                    </div>
                    <div class="news">
                        <img src="<%= item.urltoimage %>" alt="">
                        <div class="info">
                            <h3><%= item.title %></h3>
                            <p class="date"><%= item.publishedAt %></p>
                            <h4><%= item.author %></h4>
                            <p class="desc"><%= item.content %></p>
                            <a href="<%=item.url%>">See more</a>
                        </div>
                    </div>

                </div>
                <% }); %>
            </section>
        </article>



    </main>
    <footer>
        <div id="footer">
            <nav id="footerNav">
                <ul>
                    <li><a href="/politics">Politics News</a></li>
                    <li><a href="/sport">Sport News</a></li>
                    <li><a href="/health">Health News</a></li>
                    <li><a href="/tech">Technology News</a></li>
                    <li><a href="">About</a></li>
                </ul>
            </nav>
            <nav id="logo1">
                <img src="img/logo1.png" alt="">
                <ul>
                    <li class="contact">
                        <img src="img/phone.png">
                        <p>+9627770004567</p>
                    </li>
                    <li class="contact">
                        <img src="img/email.png">
                        <p>rcc2020@info.com</p>
                    </li>
                </ul>
            </nav>
            <div id='footerIcons'>
                <a href="https://web.facebook.com/" target="_blank" class="fa fa-facebook"></a>
                <a href="https://web.twitter.com/" target="_blank" class="fa fa-twitter"></a>
                <a href="https://web.youtube.com/" target="_blank" class="fa fa-youtube"></a>
                <a href="https://web.instagram.com/" target="_blank" class="fa fa-instagram"></a>
                <a href="https://web.linkedin.com/" target="_blank" class="fa fa-linkedin"></a>

            </div>
        </div>
        <div id="copy">
            <hr>
            <p>RCC News &copy; 2020 &middot; All Copyrights are reserved</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="app.js"></script>
</body>

</html>