<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport News</title>
    <link rel="stylesheet" href="css/news.css">
</head>

<body>
    <main>
        <h1>Sport News</h1>
        <% sportData.forEach ((item,ind) => { %>
        <section>
            <img src="<%= item.urlToImage %>" alt="">
            <h3><%= item.title %></h3>
            <p><%= item.description %></p>
            <a href="<%=item.url%>">See more</a>

            <div class="commentBox">
                <!-- <label for="example">Add a comment</label> -->
                <form action="/scomments/<%= ind %>" class="addComment" method="post">
                    <input id="comment<%= ind%>" type="text" name="Ntext" size="20">
                    <input type="submit" id="<%= ind%>" name="<%= ind%>" value="Send">
                </form>
                
                <ul class="comments" id="<%= ind%>W">

                    <% results.forEach (item2 => { %>
                        
                        <% if(item2.post == ind){ %>
                    <li>
                        <%= item2.comment; %>
                    </li>
                    <% }}); %>


                </ul>
            </div>

        </section>
        <% }); %>




    </main>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="app.js"></script> -->
</body>

</html>