<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport News</title>
    <link rel="stylesheet" href="css/news.css">
</head>

<body>
    <main>
        <h1>Sport News</h1>
        <% sportData.forEach ((item,ind) => { %>
        <section>
            <p><%= item.publishedAt %></p>
            <img src="<%= item.urlToImage %>" alt="">
            <h3><%= item.title %></h3>
            <p>By <%= item.author %></p>
            <p><%= item.content %></p>
            <a href="<%=item.url%>">See more</a>
            <form action="/addfavorite" method="post">
                <input class="hidden" type="text" id="category" name="category" value="Sport News"><br>
                <input class="hidden" type="text" id="urlToImage" name="urlToImage" value="<%= item.urlToImage %>"><br>
                <input class="hidden" type="text" id="author" name="author" value="<%= item.author %>"><br>
                <input class="hidden" type="text" id="title" name="title" value="<%= item.title %>"><br>
                <input class="hidden" type="text" id="url" name="url" value="<%= item.url %>"><br>
                <input class="hidden" type="text" id="publishedAt" name="publishedAt" value="<%= item.publishedAt %>"><br>
                <input class="hidden" type="text" id="content" name="content" value="<%= item.content %>"><br>
                
                <button>Add To Favorite</button>
            </form>
            <form action="/share" method="post">
                <input style="display: none;" type="text" id="category" name="category" value="Sport News"><br>
                <input style="display: none;" type="text" id="urlToImage" name="urlToImage" value="<%= item.urlToImage %>"><br>
                <input style="display: none;" type="text" id="author" name="author" value="<%= item.author %>"><br>
                <input style="display: none;" type="text" id="title" name="title" value="<%= item.title %>"><br>
                <input style="display: none;" type="text" id="url" name="url" value="<%= item.url %>"><br>
                <input style="display: none;" type="text" id="publishedAt" name="publishedAt" value="<%= item.publishedAt %>"><br>
                <input style="display: none;" type="text" id="content" name="content" value="<%= item.content %>"><br>
                
                <button>Share</button>
            </form>
            <div class="commentBox">
                <!-- <label for="example">Add a comment</label> -->
                <form action="/scomments/<%= ind %>" class="addComment" method="post">
                    <input  type="text" id="title" name="title" value="<%= item.title %>" style="display: none;" >
                    <input id="comment<%= ind%>" type="text" name="Ntext" size="20">
                    <input type="submit" id="<%= ind%>" name="<%= item.title%>" value="Send" >
                </form>
                
                <ul class="comments" >

                    <% results.forEach (item2 => { %>
                        
                        <% if(item2.title == item.title){ %>
                    <li>
                        <img src="<%=item2.userimg%>" alt="">
                        <p><%=item2.user_name%></p>
                        <%= item2.comment; %>
                    </li>
                    <% }}); %>


                </ul>
            </div>

        </section>
        <% }); %>




    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="app.js"></script>
</body>

</html>